@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font & theme */
:root {
  --background: #0b0b14;
  --foreground: #ffffff;
}

* {
  font-family: "Rubik", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b14;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Rubik, sans-serif !important;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Sticky header menu spacing fix */
section {
  scroll-margin-top: 80px;
  /* Adjust to header height */
}

/* Ant design overrides (if used) */
.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}


.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
}